<%- include("partials/header") %>



<% if (isloggedin){ %>
<div class="div33">
<% posts.forEach(post=>{ %>
    <div class="stream-post">
        <div class="sp-author">
            <a href="#" class="sp-author-avatar">
                <% if(post.username.hasProfilePic){ %>
                    <img class="imggg" src="/profile/<%= post.username._id %>/picture" alt="">
                <%} else{ %>
                    <img class="imggg" src="https://t4.ftcdn.net/jpg/02/15/84/43/360_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg" alt="">
                <% } %>
            </a>
            
            <h6 class="sp-author-name"><a href="#"><%=post.username.username%></a></h6></div>
        <div class="sp-content">
            <div class="sp-info"><%=post.createdAt.toLocaleDateString()%></div>
            <p class="sp-paragraph mb-0"><%=post.description%></p>
        </div>
        <!-- /.sp-content -->
    </div>
<% }) %>
</div>
<% }else{ %>
    <h1>please <a href="/signin">Sign in</a> to see posts</h1>
<% } %>    








